version: '3.8'

services:
  db:
    image: postgres:15
    container_name: leavesystem_BE
    restart: always
    environment:
      POSTGRES_DB: leavesystemdb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: